body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  padding: 0 10px;  
  border-bottom: 1px solid #e1e8ed;
  background-color: #ffffff;
  z-index: 1000;
  width: 100%;  
}

.nav-container, .button-container {
  display: flex;
  flex: 1;  
  min-width: 0;  
}

.nav-container {
  justify-content: flex-start; 
  overflow: hidden;  
  padding-left: 40px;
}

.button-container {
  justify-content: flex-end; 
  overflow: hidden; 
  padding-right: 30px;
}

.navText {
  color: #6a6a6a;
  margin-right: 30px;
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap; 
  cursor: pointer;
}

.navText:hover {
  color: #00aced; 
  border-bottom: 32px solid #1a8cd8;
}

.logo {
  max-height: 30px;
  margin: 0 20px;  
}

.button {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #00aced;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 32px;
}
